body {
    margin: 0;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(5, 248, 110);
}

#claculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 15px;
    max-width: 500px;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: #fff;
}

#key {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(219, 233, 25);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgb(13, 54, 236);
}

button:active {
    background-color: rgb(45, 46, 46);
}

.gg {
    margin-right: 70px;
    font-size: 60px;
    justify-self: center;
    font-family: arial;
}